* {
  box-sizing: border-box;
}

:root {
  --wh: 200px;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;

  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

a {
  color: inherit;
}

.title {
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.home {
  --bg: #222;

  /* TODO namespace variables! */
  --stroke-width: 1;
  --stroke-colour: #fff6;
  --line-width: 0.5;
  --line-colour: #fff6;

  display: grid;
  place-content: center;
}

.index {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--wh), 1fr));
  place-content: center;
  gap: 1rem;

  width: 70vw;
  margin: 0;
  padding: 1rem;
  list-style: none;
}

.index__item {
  overflow: hidden;
  border-radius: 1rem;
  aspect-ratio: 1;
  background-color: var(--bg);

  a {
    display: grid;
    align-items: flex-end;

    width: 100%;
    aspect-ratio: 1;
    text-decoration: none;
  }

  span {
    padding: 0.5rem;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-variant: small-caps;
    background: #fffd;
    color: #000;
  }
}

.index__item {
  overflow: hidden;
  border-radius: 0.5rem;

  background-image: var(--bg-image);
  background-color: var(--bg);
}
