* {
  box-sizing: border-box;
}

:root {
  --wh: 400px;
}

body {
  display: grid;
  place-content: center;
  gap: 1rem;

  min-height: 100vh;
  margin: 0;
}

.samples {
  display: flex;
  gap: 1rem;

  padding: 1rem;
}

.sample {
  width: var(--wh);
  height: var(--wh);
}
